## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
import math
math.pow(7,4)

2401.0

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [2]:
s="Hi there Sam"

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [3]:
planet="Earth"
diameter=12742

In [4]:
print("The diameter of {} is {} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [5]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [6]:
lst[3][1][2][0]

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [7]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [8]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [9]:
#The list is dynamic,whereas the tuple has static characteristics.
#lists are mutable,whereas the tuples are immutable

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [14]:
def domainGet(strDomain):
  return strDomain.split('@')[1]
  out= domainGet('user@domain.com')
  print(out)
  domain.com
  domainGet('user@domain.com')
'domain.com'

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [19]:
def findDog(st):
  print(st.lower())
  return 'dog' in st.split()
  findDog('is there a dog here?')
  is there a dog here?
  True

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [20]:
def countDog(st):
  st.lower().split()
  return st.count('dog')
  countDog('This dog runs faster than the other dog dude!')

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [21]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [22]:
caught_speeding(81,False)
'Big Ticket'
caught_speeding(81,True)
'small Ticket'

'small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [55]:
e=[1000,2000,3000,4000,5000]
tot=0
for i in range(0,len(e)):
  
  da=e[i]*(15/100)
  hra=e[i]*(10/100)
  ta=e[i]*(15/100)
  pf=e[i]*(5/100)
  it=e[i]*(5/100)
  gs=e[i]+da+hra+ta
  ded=pf+it
  ns=gs-ded
  print(ns)
  tot=tot+ns
print("TOTAL:",tot)

1300.0
2600.0
3900.0
5200.0
6500.0
TOTAL: 19500.0

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [43]:
d1={
  "Empid":211,
  "Empname": "vijay",
  "Basicpay": 20000
}
d2={
  "Department":"CSE",
  "Deptid":211
}
d3=d1.copy()
d3.update(d2)
print(d3)

{'Empid': 211, 'Empname': 'vijay', 'Basicpay': 20000, 'Department': 'CSE', 'Deptid': 211}